$color-primary: #33323D;
$color-secondary: #fff;
$font-family-primary: "Ibarra Real Nova", serif;
$font-family-secondary: "Public Sans", sans-serif;
$font-weight-primary: 700;
$font-weight-secondary: 400;
