.get-in-touch-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.get-in-touch-section__heading {
  font-family: $font-family-primary;
  font-weight: $font-weight-primary;
  font-size: 40px;

}

.get-in-touch-section__desc {
  font-family: $font-family-secondary;
  font-weight: $font-weight-secondary;
  font-size: 16px;
  width: 100%;
  max-width: 635px;
  opacity: 0.8;
}
