.site-header {
  padding-top: 64px;
  margin-bottom: 45px;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__logo-link {
  display: block;
}